<label for="{{ labelFor }}" class="block mb-2 text-base font-medium text-gray-900">{{ labelText }}</label>
<div class="flex">
    <textarea rows="4" name="{{ name }}" id="{{ id }}" placeholder="{{ placeholder }}" class="{{ customClass }} w-full py-2 text-sm text-black bg-gray-200 border border-gray-200 rounded-lg focus:outline-none focus:bg-gray-100">
    </textarea>
</div>