<footer class="absolute bottom-0 w-full p-4 bg-white">
    <hr class="sm:mx-auto border-gray-300 rounded-lg"/>
    <div class="flex flex-col justify-center items-center">
        <span class="block text-sm text-gray-600 font-semibold py-1 sm:text-center sm:text-xs md:text-xs">
            © 2022<a href="" class="hover:text-blue-600 hover:underline"></a>.
            Todos os direitos reservados.
        </span>
    </div>
</footer>