@layout('layouts/main')
@set('title', 'Seus vídeos')

@section('body')
  <div class="flex flex-col my-6">
    <div class="flex justify-center items-center">
      @each(video in videos)
        <tr>
          <td>
            <a href="/video/{{ video.id }}">
              Título: {{ video.title }}&nbsp
            </a>
          </td>
        </tr>
      @end
    </div>
  </div>
@endsection